.home {
	width: 50%;
}
.posts {
	@extend %flexbox;
	@extend %flexbox-wrap;
	margin-top: 32px;
	&__item {
		@extend %flexbox;
		@extend %flexbox-wrap;
		@extend %flexbox-align-items-top;

		width: 100%;

		padding: 8px 0px;
		margin: 8px 0px;

		&__meta {
			width: 100px;
			padding: 0px 32px 0px 0px;
			text-align: right;
		}
		&__day-month,
		&__year {
			position: relative;
			font-family: $secondary-font-family;
			font-weight: bold;
		}
		&__day-month {
			font-size: 20px;
			color: $primary-color;
		}
		&__year {
			font-size: 14px;
		}
		&__link {
			font-family: $secondary-font-family;
			font-size: 24px;
			font-weight: 400;
			color: $secondary-text-color;
			text-decoration: none;
		}
		&__categories {
			font-size: 12px;
			font-weight: 100;
			color: $accent-color;
		}
	}
}

.post {
	.wrapper {
		height: 100%;
		padding: 90px 0px;
		padding-right: 464px;
	}
	&__header {
		@extend %relative-block;
		width: 100%;
		min-height: 200px;
		background-color: #3B3B3B;
		z-index: 2;
	}
	&__meta {
		position: absolute;
		width: 400px;
		max-width: 678px;
		bottom: -88px;
		right: 0;
		padding: 32px 36px 42px 36px;
		margin: -64px 0 32px 0;
		z-index: 6;

		background: #222;

		border-radius: 5px;
		font-family: $secondary-font-family;
		text-transform: uppercase;
		font-weight: bold;

		li {
			margin: 0 0 25px 0;
			font-size: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		.name,
		.value {
			display: block;
			width: 100%;
		}

		.name {
			margin-bottom: .3em;
			color: #919191;
		}
		.value {
			color: #FFF;
		}

		.last-update {
			.name,
			.value {
				font-size: 20px;
			}
		}
		.share {
			.value {
				position: relative;
				width: auto;
				display: inline-block;
				padding-right: 32px;
				&:after {
					content: "+";
					position: absolute;
					display: block;
					right: 10px;
					top: 0;
					font-weight: bold;
					color: $primary-color;
				}
				&:last-child {
					clear: after;
					&:after {
						display: none;
					}
				}
			}
		}

		&:after {
			content: "";
			position: absolute;
			right: 3px;
			bottom: -50px;
			width: 108px;
			height: 50px;
			opacity: .6;
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjUwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJ2ZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1NCIgeTE9IjUwIiB4Mj0iNTQiIHkyPSIwIj4KICAgIDxzdG9wIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzMzMzMzMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cG9seWdvbiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0idXJsKCN2ZykiIHBvaW50cz0iMCwwIDEwOCwwIDAsNTAgIi8+Cjwvc3ZnPgo=");
		}
	}
	&__title {
		font-family: $secondary-font-family;
		font-size: 64px;
		font-weight: bold;
		color: #FFF;
	}
	&__excerpt {
		margin-top: 16px;
		color: #DDD;
		line-height: 32px;
	}
	&__content {
		.wrapper {
			padding-bottom: 0;
		}
	}
}