// COLOR PALETTE
// Main Theme
$pink: #E91E63;
$blue: #7AC3C3;

// Theme 2
$orange: #ff8307;
$teal: #009688;

// Theme 3
$green: #58b23d;
$yellow: #ffe63e;

$gray: #282828;

// THEME - MAIN COLORS
$primary-color: $pink;
$accent-color: $teal;


$background-color: #FFFFFF;
$footer-background-color: $gray;

// TEXT COLORS
$primary-color-text: #FFFFFF;

$primary-text-color: #212121;
$secondary-text-color: #444444;

$divider-color: #E6E6E6;